<div class="container">
    <form [formGroup]="PokemonForm">
        <div class="row">

            <div class="form-group col-2">
                <label>Name <sup>*</sup></label>
                <input formControlName="name" class="form-control" type="text" placeholder="Name" />
                <span *ngIf="PokemonForm?.controls?.name?.invalid && isSubmit">Name is Required</span>
            </div>
            <div class="form-group col-2">
                <label>Height <sup>*</sup></label>
                <input formControlName="height" class="form-control" type="number" placeholder="Height" />
                <span *ngIf="!PokemonForm?.controls?.height?.valid && isSubmit">Height is Required</span>

            </div>
            <div class="form-group col-2">
                <label>Weight <sup>*</sup></label>
                <input formControlName="weight" class="form-control" type="number" placeholder="Weight" />
                <span *ngIf="!PokemonForm?.controls?.weight?.valid && isSubmit">Weight is Required</span>

            </div>
            <div class="form-group col-2">
                <label>Description <sup>*</sup></label>
                <input formControlName="description" class="form-control" type="text" placeholder="Description" />
                <span *ngIf="PokemonForm?.controls?.description?.invalid && isSubmit">Description is Required</span>

            </div>
            <div class="form-group col-2">
                <label>Photos <sup>*</sup></label>
                <select formControlName="photo" class="form-control">
                    <option [ngValue]="''">Select Avatar</option>
                    <option *ngFor="let photo of pokemonPhotos" [ngValue]="photo">{{photo}}</option>
                </select>
                <span *ngIf="PokemonForm?.controls?.photo?.invalid && isSubmit">Photo is Required</span>

            </div>
            <button class="btn btn-primary col-2" (click)="addCard()" type="button">Add Card</button>
        </div>
    </form>
    <app-pokemon-card [pokemonCards]="pokemonCards"></app-pokemon-card>
</div>