.t-area{
    max-height: 5px;
}
.form-group{
    margin-left: 15px;
    display: block;
    width:90%;
}
.row{
    margin-bottom: 20px;
}
.card{
    margin-top: 5px;
    margin-left: 15;
    
}
button{
    margin-top: 18px;
    height: 35px;
}
img{
    max-width: 280px;
    height: 300px;
}
span{
    color: red;
}