.main {
    width: 100%;
}
.card{
    margin-left: 10px;
    margin-top: 10px;
    height:245px;
    
}
.card-body{
    max-height: 100px;
    max-width: 100px;
    margin-left: 10px;

}
  .card-img-top{
    display:block;
    margin:auto;
}

.img-div{
    width: 200px;
    height: 200px;
}
img{
    height: 100%;
    width: 100%;
}